body {
  background-color: lightgrey !important;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.App input {
  width: 400px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.Result {
  display: flex;
  flex-flow: row wrap;
}

.User {
  width: 218px;
  height: 218px;
  text-align: center;
  background-color: grey;
  margin: 1%;
  position: relative;
  border-radius: 2%;
}

.Remove {
  position: absolute;
  cursor: pointer;
  top: 2%;
  right: 3%;
  font-size: 20px;
}

img {
  margin-top: 10%;
  border-radius: 50%;
}

p {
  margin: 10px;
  font-size: 12px;
}

h1 {
  font-weight: lighter;
}
